#main-area{}

.main-area{
background: url("img/nkb.jpg") no-repeat fixed 50% 80% / cover;
color: white;
height: 100vh;
margin: 0 auto;
padding: 0;
position:relative;
}
.overlay{
background: url("img/noise.png") repeat scroll center center;
botton: 0;
left: 0,
position: absolute;
right: 0;
top: 0;
width: 100%;
z-index: 0;
  }
.content{}
.content h1{}
.content h4{}

